.dynamicFormItem {
  width: 350px !important;
}

.ant-form-vertical .ant-form-item-label > label {
  font-size: 16px;
  color: #F13C20;
  font-weight:600;

}
legend{
  font-weight: bold;
  color: #F13C20;
}

fieldset{
  height: 50px;
  width: 200px;
  border: none;
}
.educationDiv{
  display: flex;
  flex-direction: column;
  row-gap: 10px;

}
.educationData{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 75px;

}
.educationItem{
  font-weight: 600;
  font-size: 17px
}

